@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Orbitron', 'sans-serif';
    color: white;
    font-size: 20px;
    line-height: 35px;
    
}
main{
    background-image: url('/img/home-bg.jpg ') ;
}
.cartscrollbar::-webkit-scrollbar {
    display: none;
}
:root {
  --card-perspective: 700px;
  --card-z-offset: 12px;
  --card-y-offset: 7px;
  --card-max-z-index: 100;
  --card-swap-duration: 0.3s;
  --swipe-x: 0px;
  --swipe-rotate: 0deg;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card-stack {
  width: 18rem;
  height: 22rem;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  user-select: none;
  touch-action: none;
  transform-style: preserve-3d;
}

.card {
  cursor: grab; 
  display: flex;
  place-self: center;
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);  
  z-index: calc(var(--card-max-z-index) - var(--i));
  transform: perspective(var(--card-perspective))
    translateZ(calc(-1 * var(--card-z-offset) * var(--i)))
    translateY(calc(var(--card-y-offset) * var(--i)))
    translateX(var(--swipe-x, 0px)) rotateY(var(--swipe-rotate, 0deg));
  transition: transform var(--card-swap-duration) ease;
  will-change: transform;
  backface-visibility: hidden; 
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.card:active {
  cursor: grabbing;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content img {
  border-radius: 0.75rem;
  pointer-events: none;
  user-select: none;
}

.card-content .card-title {
  font-size: 1.6rem;
  letter-spacing: -1px;
  color: #293457;
}

.card-content p {
  font-size: 0.9rem;
  color: #2d2e31;
}
@media (max-width: 450px){
    header{
        justify-content: space-between;
        .menu-btn{
            display: block;
        }
        .cartpage{
            display: none;
        }
        .menu-btn{
            margin: 20px;
        }
    }
    .navbar{
        display: none;
    }
    #bg-home{
        display: none;
    }
    #decouvrir_sec{
        flex-direction: column;
        gap: 20px;
    }
    footer{
        a{
            font-size: 16px;
        }
        .icons{
            margin-top:20px ;
            justify-content: center;
            gap: 15px;
            width: 80%;
        }
        img{
            width: 30px;
            
        }
        .navigation-footer{
            gap: 50px;
        }
    }
    .guide-hidden{
        display: none;
    }
    .top-sec-guide{
        gap:30px
    }
    .rareteicons{
        img{
            width: 50px;
        }
    }
    .h1-allpage{
        line-height: 50px;
    }
    .allcontainer{
        width: 90%;
    }
}

#mydeckplay::-webkit-scrollbar{
    display: none;
}
.endturnbtn{
    width: 150px;
    text-align: center;
}
